* {
    box-sizing: unset;
  }

  html, body{
    padding: 2;
    font-family: Arial, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*Georgia, 'Helvetica', Times, serif;*/
    overflow-x: hidden;
    font-size: medium;
  }

  body{
    z-index: -5;
  }

  #uni-logos-wrapper{
    text-align: left;
    margin: 2% 0 4% 0;
    padding: 0 3%;
  }

  #uni-logos-wrapper>img{
    display: flex;
  }

  .form-container{
    margin-left: 13px;
    margin-right: 13px;
    padding: 15px;
    padding-top: 30px;
    padding-left: 80px;
    width: 100%;
    justify-content: center;
    background-color: rgba(139, 209, 209, 0.945);
  }

  .btn-round-custom,
  .btn-round-custom:focus,
  .btn-round-custom:active{
    padding: 12px 60px;
    border-radius: 85%;
    background-color: rgba(44, 31, 221, 0.897);
    color: white;
    border: none;
    text-decoration: none;
    font-size: 20px;
    transition: all .5s;
    margin: 7px 7px;
    padding: 12px;
  }

  .btn-round-custom:hover{
    background-color: rgb(241, 168, 255);
    color: rgb(22, 88, 88);
    border: 1cm;
    text-decoration: none;
    transition: all .8s;
  }

  #welcome-div{
    background-color: rgb(248, 223, 0);
    padding: 2% 2%;
    text-align: center;
    display: -ms-inline-grid;
  }

  #welcome-h1{
    color:#f5f2f2;
  }
  .col-md-8{
    padding: 15px 15px;
    top: 3px;
    border-spacing: 3px;
  }

  #baloni-img {
    background-image: url("../img/logo-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    justify-content: left;
    margin-left: 3px;
    padding: left;
    width: 250px;
    position: relative;
  }
  
  #background-img{
    content: " ";
    position: fixed;
    top: 0;
    background-image: url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
.d-flex {
  display: flex;
  align-items: center;
}

label{
    color: rgb(23, 88, 88);
    font-size:20px;
}

#btn_find{
    margin-left: 20px;
}

.table{
    color: steelblue;
    font-size: 17px;
    text-align: center; 
    margin-left: auto 0; 
    margin-right: auto; 
    width: 100px;
}

table.responsive{
  color:thistle;
}
table>tbody>tr:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(23, 88, 88);
    font-size: 17px;
}

.icon-images{
  margin: 2px;
}

.icon-images:hover{
  padding: 3px;
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-right: 200px;
}

#ukras {
  background-image: url("../img/ukras.jpg");
  height: 400px;
  width: 300px;
  margin-left: 500px;
  margin-right: 200px;
  justify-content: right;
  align-items: right;
}

#sort>a{
  padding: 5px;
  border: solid 1px  cadetblue;
  background-color: 797979;
  color: darkorchid;
  margin-left: 5px;
  margin-right:5px;
  border-radius: 0%;
  font-size: 22px;
}

#sort>a:hover{
  color: brown;
  text-decoration: none;
  padding: 7px;
}

/*Navigacioni meni*/
  
  .topnav {
    background-color:rgb(233, 38, 38);
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    border: 5%;
    position: fixed;
    display: flex;  
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
  }
  
  .topnav a:hover,
  .topnav a:active {
    background-color: #ddd;
    color:purple;
    margin-left: 10px;
    display: block;
  }
  
  .active {
    background-color: #f0a7e0;
    color: rgb(206, 171, 171);
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: left;
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav.responsive a {
      float: none;
      text-align: center;
      display: block;
    }
  }
    .col-12{
      margin-left: 400px;
      margin-right: -100px;
  }

  
@media screen and (min-width: 120px){
    #uni-logos-wrapper{
        padding: 10px; 
      
      }
}